# Odoo backups and tar.gz
*.tar.gz
*.sql

# Filestore backups
filestore_backup*/
filestore_working*/

# Temporary / backup files
*.bak
*.backup

# Odoo filestore
filestore/
odoo-data/
*.tar.gz
*.sql
*.bak
*.backup
filestore*/
odoo-data/
